* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Liberation Sans,Helvetica Neue,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
    scroll-behavior: smooth;
}

.container {
    display: flex;
    height: 100vh;
    max-width: 1400px;
    margin: auto;
}

.column {
	  padding: 20px;
	  overflow-y: auto;
	  border-right: 1px solid #202020;
}

.column:last-child {
    border-right: none;
}

h1 {
    margin-bottom: 10px;
    padding-top: 10px;
}

h2 {
    margin-bottom: 5px;
    margin-top: 20px;
}

h3 {
    margin-bottom: 5px;
    margin-top: 15px;
}

p {
    line-height: 1.4;
    padding-bottom: 10px;
}

ul {
    margin: 10px;
    padding-left: 10px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table {
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

td, th {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #161616;
}

th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #525252;
}

code {
    color: #333;
    font-size: 110%;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 2px 4px;
}

pre code {
    font-size: 100%;
    white-space: pre-wrap;
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    display: block;
    margin: 10px 0;
    color: #333;
    tab-size: 4;
}

.syntax-keyword {
    color: #0066cc;
    font-weight: bold;
}

.syntax-comment {
    color: #999999;
    font-style: italic;
}

.syntax-directive {
    color: #cc0000;
}

.hint-todo {
    background-color: #377E47;
    display: block;
    padding: 10px;
    border: 1px solid #429655;
    border-radius: 4px;
}

.hint-note {
    background-color: #525252;
    display: block;
    padding: 10px;
    border: 1px solid #6B6B6B;
    border-radius: 4px;
}

.hint-warning {
    background-color: #8F8E30;
    display: block;
    padding: 10px;
    border: 1px solid #A8A738;
    border-radius: 4px;
}

.hint-important {
    background-color: #880015;
    display: block;
    padding: 10px;
    border: 1px solid #BD001D;
    border-radius: 4px;
}

.logo {
    width: 100%;
    height: 180px;
    position:relative;
}

.logo img {
    width: 100%;
    height: 100%;
}

.version {
    background-color: #377E47;
    display: block;
    border: 1px solid #6EBD46;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    position:absolute;
    bottom:10px;
    right:0;
    font-family: monospace;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #F8E43C;
}

#column1 {
    width: 20%;
}

#column2 {
    width: 60%;
}

#column3 {
    width: 20%;
}

#column3 a {
    font-size: 80%;
}

#column1 ul {
    padding-left: 20%;
}

#menu-top-level {
    list-style-type: none;
    margin: 0px;
}

#menu-top-level a {
}

#menu-top-level-item {
    padding-top: 10px;
    font-size: 120%;
}